{% extends "base_generic.html" %}

{% block content %}

<div class="list-group">
    {% for article in article_list %}
    <button type="button" class="list-group-item list-group-item-action">
        {{ article.id }}
        <a href=" {% url 'article-detail' article.slug %}"> {{ article.title }}</a> - {{ article.category.name }}
    </button>
    {% endfor %}
</div>


{% endblock %}

{% block title %} <title>Liste des articles</title> {% endblock %}