{% extends "base_generic.html" %}

{% block content %}
<div>
    <h1>Liste des articles</h1>

    <ul>

        {% for article in article_list %}
        <li><a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a> </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}