{% extends "base_generic.html" %}

{% block content %}
<h1>Accueil de mon blog</h1>
<p>Bienvenue dans mon blog !</p>
<h2>Contenu dynamique</h2>
<p>Le blog dispose des enregistrements suivants :</p>
<ul>
    <li><strong>Articles :</strong> {{ num_articles }}</li>
    <li><strong>Catégories :</strong> {{ num_categories }}</li>
</ul>

<h2>Liste des articles</h2>
<ul>
    {% for article in articles_list %}
    <li> {{article.title}}</li>
    {% endfor %}
</ul>
{% endblock %}